.home{
   margin-left: 350px;
   color:#40BFFF;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bags{
    margin-left: 90px;
}
.sneak{
    margin-left: 90px;
}
.belt{
    margin-left: 90px;
}
.belt{
    margin-left: 90px;
}
.cont{
    margin-left: 90px;
}
