.latest{
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    color: #22262A;
}
.date{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #C1C8CE;
}
.nike1{
    margin-left: 10%;
}
.logo1{
    margin-left: 24%;
}
.kronos1{
    margin-left: 16%;
}
.loremm{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #22262A;
}
.label1{
   margin-left: 17.5%;
}
.label2{
    margin-left: 18%;
}
.label3{
    margin-left: 17.5%;
}
.labell{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #22262A;
}
.lorem1{
    margin-left: 17.5%;
    margin-top: -6%;
}
.lorem2{
    margin-left: 46.7%;
    margin-top: -8.5%;
}
.lorem3{
    margin-left: 76%;
    margin-top: -8.5%;
}

